doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='copyright', content='#{language.COPYRIGHT}')
    link(rel='icon', href='#{language.ICON}', type='image/x-icon')
    title #{language.HTML_TITLE}

    // css
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/bootstrap-tokenfield.min.css', rel='stylesheet')
    link(href='/css/bootstrap-dialog.min.css', rel='stylesheet')
    link(href='/css/bootstrap-datepicker3.min.css', rel='stylesheet')
    link(href='/css/tokenfield-typeahead.min.css', rel='stylesheet')
    link(href='/css/dataTables.bootstrap.css', rel='stylesheet')
    link(href='/css/buttons.dataTables.min.css', rel='stylesheet')
    link(href='/css/font-awesome.min.css', rel='stylesheet')

    link(href='/css/pb.css', rel='stylesheet')

    // scripts
    script(src='/js/jquery.min.js')
    script(src='/js/jquery.dataTables.min.js')
    script(src='/js/jquery.dataTables.columnFilter.js')
    script(src='/js/jquery.dataTables.file-size.js')

    script(src='/js/backendapi.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/bootstrap-filestyle.min.js')
    script(src='/js/bootstrap-tokenfield.min.js')
    script(src='/js/bootstrap-dialog.min.js')
    script(src='/js/bootstrap-datepicker.min.js')
    script(src='/js/bootstrap-datepicker.de.min.js')
    script(src='/js/dataTables.buttons.min.js')
    script(src='/js/buttons.flash.min.js')
    script(src='/js/jszip.min.js')
    script(src='/js/pdfmake.min.js')
    script(src='/js/vfs_fonts.js')
    script(src='/js/buttons.html5.min.js')
    script(src='/js/buttons.print.min.js')
    script(src='/js/pb.js')
    script(src='/js/async.min.js')
    script(src='/js/dataTables.bootstrap.js')
    script(src='/js/tooltip.js')
    script(src='/js/ZeroClipboard.min.js')
    script(src='/js/moment.min.js')
    script(src='/js/underscore-min.js')
    script(src='/js/filesize.min.js')
    script(type='text/javascript').
      // make language variable accessible
      var language = !{JSON.stringify (language)};
      var config = !{JSON.stringify (config)};

  body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          img.navbar-brand(src='/img/logo.png')
          .brand #{language.PAGE_TITLE}
        if user
          .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/logout', style="cursor:pointer;")
                  span.glyphicon.glyphicon-log-out
                  | &nbsp; #{language.LOGOUT}
    .spacer
    block main
    footer(class='footer')
      p(class='text-muted clear-font')
        small
          a(href='#{language.COPYRIGHT_LINK}', target='_blank') #{language.COPYRIGHT} &nbsp; | &nbsp;
          | 
          a(href='#{language.CHROME_LINK}', target='_blank') #{language.CHROME_OPTIMIZED_MSG}
    include modal