extends layout

block main
  .container-fluid
    .row
      .col-md-3
        include navigation
      .spacer-mobile
      .col-md-9
        script(type='text/javascript').
          PORTAL.Authorization = {};
          PORTAL.Authorization.user = !{JSON.stringify (user.name)};
          PORTAL.Authorization.string = !{JSON.stringify (user.Authorization)};
          PORTAL.Authorization.groups = !{JSON.stringify (user.groups)};
          // sort by group_id asc
          PORTAL.Authorization.groups = _.sortBy(PORTAL.Authorization.groups, 'group_id');
          PORTAL.Authorization.group = !{JSON.stringify (user.group)};
          PORTAL.Authorization.host = !{JSON.stringify (config.app.api.url)};
        block content