h2 #{language.SIMSTAT} - #{language.ABERRATIONS}
table.table.table-striped(id="simstat-table")
  thead
    tr
      th #{language.IMSI}
      th #{language.MONTH}
      th #{language.SERVER}
      th #{language.CUSTOMER}
      th #{language.PROVIDER}
      th #{language.BYTES_PROVIDER}
      th #{language.BYTES_APPLIANCE}
      th #{language.ABERRATION}
    tr
      td #{language.IMSI}
      td #{language.MONTH}
      td #{language.SERVER}
      td #{language.CUSTOMER}
      td #{language.PROVIDER}
      td #{language.BYTES_PROVIDER}
      td #{language.BYTES_APPLIANCE}
      td #{language.ABERRATION}
  tbody
